@font-face {
  font-family: 'Nasalization';
  src: url('../fonts/Nasalization.eot?#iefix') format('embedded-opentype'),url('../fonts/Nasalization.woff') format('woff'),url('../fonts/Nasalization.ttf')  format('truetype'),url('../fonts/Nasalization.svg#Nasalization') format('svg');
  font-weight: normal;
  font-style: normal;
}