/**
 * Custom styles for the front-page.php template.
 */
.section-bg {
	background-color: var(--color-light);
}
.section-padding-top{
	padding-top: 2em;
}
.section-padding-bottom{
	padding-bottom: 2em;
}
.section-header h2{
	color: var(--color-dark);
	text-align: center;
	font-family: var(--highlight-font-family);
	font-size: var(--larger-font-size)px;
	margin-bottom: 2em;
}
.section-header * h2:before{
	max-width:250px;
	content: "";
	display: block;
	border-bottom: 2px solir var(--color-primary);
	margin:1em auto 2em;
}
@media (--sidebar-query) {
	.section-header h2{
		font-size: var(--large-font-size)px;
	}

	.site {
		margin: 0;
		display: grid;
		grid-template-columns: 1fr;
	}

	.site-main {
		margin: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
		grid-auto-flow: dense;
		grid-gap: 2rem;
	}

	.post {
		margin-bottom: 0;
		padding: 0 2rem;
		border: 1px solid hsl(0, 0%, 50%);
	}

	.post:first-of-type {
		grid-column: span 2;
		margin: 0;
		padding: 0;

	}

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}

}
