.site-full-width{
    &.site-main {
        grid-column: span 2;
        min-width: 0;
    }   
    .page-content > *,
    .entry-content > *,
    .entry-summary > *,
    .not-found > * {
        max-width: 100%;
        width:100%;
    }

    .page-title,
    .entry-header,
    .entry-footer,
    .entry-content .page-links,
    .post-navigation,
    .page-navigation,
    .comments-area {
        max-width: 100%;
        width:100%;
    }

}