.site-full-width.site-main {
	grid-column: span 2;
	min-width: 0; }

.site-full-width .page-content > *,
.site-full-width .entry-content > *,
.site-full-width .entry-summary > *,
.site-full-width .not-found > * {
	max-width: 100%;
	width: 100%; }

.site-full-width .page-title,
.site-full-width .entry-header,
.site-full-width .entry-footer,
.site-full-width .entry-content .page-links,
.site-full-width .post-navigation,
.site-full-width .page-navigation,
.site-full-width .comments-area {
	max-width: 100%;
	width: 100%; }

/*# sourceMappingURL=../../maps/dev/css/full-width.css.map */
