/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;
	font-family: var(--highlight-font-family);
}

@media (--sidebar-query) {
	.primary-sidebar {
		margin-right: 1em;
	}
}
